@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* text-color */
  --color-primary: #000000;
  --color-secondary: #979797;
  --color-accent: #d87d4a;
  /* background color */
  --bg-page: #f1f1f1;
  /* input border color */
  --input-border-input: #cfcfcf;
  --input-border-input-focus: #d87d4a;
  --input-border-input-error: #cd2c2c;
}
